/* ABout section styles */
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  gap: 5vw;
  margin: 2rem 0;
}
.about-content p {
  text-align: start;
  letter-spacing: 1px; /* Adjust the letter spacing as needed */
  line-height: 1.5; /* Adjust the line height as needed */
}

.about img {
  margin-top: 5vh;
  /* height: 40vh; */
  /* width: 40vw; */
  object-fit: cover;
}
@media only screen and (max-width: 900px) {
  .about {
    display: flex;
    flex-direction: column;
    margin: 18rem 0 0 0;
  }
  .about img {
    margin-left: 0vw;
    height: 40vh;
    width: 70vw;
    object-fit: cover;
  }
}
@media only screen and (max-width: 768px) {
  .about {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    margin: 28em 0 4rem 0;
  }
  .about img {
    margin: 0;
    /* height: 40vh; */
    width: 50vw;
    object-fit: cover;
  }
}
@media only screen and (max-width: 468px) {
  .about {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    margin: 4rem 0 4rem 0;
  }
  .about img {
    margin: 0;
    /* height: 40vh; */
    width: 80vw;
    object-fit: cover;
  }
}
