/* call to action styles */
.ctn {
  margin: 3vw 38vw;
  position: relative;
}
.ctn img {
  width: 25vw;
  height: 14rem;
}
.ctn-content {
  position: absolute;
  left: 2.6vw;
  top: 0rem;
  padding: 1vw;
  text-align: center;
}
.ctn-content h3 {
  color: #1e1e1e;
  padding: 1vw 0 8.5vh 0;
}
.ctn-content a {
  background-color: #1e1e1e;
  padding: 1.2vw 2vw;
  border: none;
  font-size: 1.2rem;
  color: var(--white);
  border-radius: 5rem;
  margin: 2rem 0 0 0;
}
.ctn-content a:hover {
  background-color: #2e1065;
  padding: 1.2vw 2vw;
  border: none;
  font-size: 1.2rem;
  color: var(--white);
  border-radius: 5rem;
  margin: 2rem 0 0 0;
}

@media screen and (max-width: 768px) {
  .ctn {
    width: 45vw;
     margin: 3vw 25vw;
  }
  /* .ctn img {
    width: 55vw;
    height: 30vh;
    margin: 3vw 0vw;
  } */
  .ctn-content {
    position: absolute;
    left: 1.2vw;
    top: 0rem;
    padding: 1.5rem;
    text-align: center;
  }
  .ctn-content a {
    background-color: #1e1e1e;
    padding: 1vw 11vw;
    border: none;
    font-size: 1rem;
    color: var(--white);
    border-radius: 5rem;
    /* margin: 10rem 0 0 0; */
  }
  .ctn img {
    width: 45vw;
    height: 14rem;
  }
  .ctn-content h3 {
    color: #1e1e1e;
    padding: 0.5rem 0 4rem 0;
  }
  .ctn-content a {
    background-color: #1e1e1e;
    padding: 3vw 4vw;
    border: none;
    font-size: 1rem;
    color: var(--white);
    border-radius: 5rem;
    margin: 2rem 0 0 0;
  }
}
@media screen and (max-width: 468px) {
  .ctn {
    margin: 0.2rem 2.5rem;
    width: 80vw;
  }
  .ctn img {
    /* object-fit: fill; */
    width: 100%;
    /* height: 30vh; */
    /* margin: 3vw 0vw; */
  }
  .ctn-content {
    position: absolute;
    /* left: vw; */
    top: 0rem;
    padding: 1.85rem;
    text-align: center;
  }
  .ctn-content a {
    background-color: #1e1e1e;
    /* padding: 1vw 11vw; */
    border: none;
    font-size: 1rem;
    color: var(--white);
    border-radius: 5rem;
    /* margin: 10rem 0 0 0; */
  }

  .ctn-content h3 {
    color: #1e1e1e;
    /* padding: 0.5rem 0 4rem 0; */
  }
  .ctn-content a {
    background-color: #1e1e1e;
    padding: 2.85vw 3vw;
    border: none;
    font-size: 1.2rem;
    color: var(--white);
    border-radius: 5rem;
    margin: 2rem 0 0 0;
  }
}
/* end ofcall to action styles */