*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
  background-image: url("./assets/bg-grid-lighter.svg");
  /* background:red; */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}